.section__form{
  @include section();
  .container__data{
    .data__title--name::after{
      content: '.';
      color: $Blue;
    }
    .data__title--description{
      margin-top: 30px;
      span{
        font-weight: 300;
        color: $Gray;
      }
    }
    p{
      margin-top: 15px;
    }
  }
  .container__form{
    margin-top: 20px;
    input{
      padding:  10px 20px;
      border: 1px solid $Pale-Blue;
      border-radius: 50em;
      outline: none;
    }
    ::placeholder{
      color: $Gray;
    }
    button{
      margin-top: 10px;
      padding:  10px 20px;
      border-radius: 50em;
      background-color: $Blue;
      border: none;
      color: white;
      font-weight: 700;
      &:hover{
        background-color: $Pale-Blue
      }
    }

  }
}