$Blue: hsl(223, 87%, 63%);
$font: 'Libre Franklin', sans-serif;
$Pale-Blue: hsl(223, 100%, 88%);
$Ligh-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);
@mixin section {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  max-width: 650px;
  font-family: $font;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.section__form{
  @include section();
  .container__data{
    .data__title--name::after{
      content: '.';
      color: $Blue;
    }
    .data__title--description{
      margin-top: 30px;
      span{
        font-weight: 300;
        color: $Gray;
      }
    }
    p{
      margin-top: 15px;
    }
  }
  .container__form{
    margin-top: 20px;
    input{
      padding:  10px 20px;
      border: 1px solid $Pale-Blue;
      border-radius: 50em;
      outline: none;
    }
    ::placeholder{
      color: $Gray;
    }
    button{
      margin-top: 10px;
      padding:  10px 20px;
      border-radius: 50em;
      background-color: $Blue;
      border: none;
      color: white;
      font-weight: 700;
      &:hover{
        background-color: $Pale-Blue
      }
    }

  }
}
.section__img{
  @include section();
  img{
    width:100%
  }
}
.footer{
  @include section();
  &__social{
    color: $Blue;
    margin-bottom: 15px;
    span{
      padding: 5px;
      border: 1px solid $Pale-Blue;
      border-radius: 50%;
      margin-left: 20px;
    }
  }
  &__copy{
    color: $Gray;
    margin-bottom: 15px;
  }
  &__atributtion{
    color: $Gray;
    a{
      color: $Gray;
      text-decoration: none;
      &:hover{
        color: $Blue;
      }
    }
    
  }
}